// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.question {
border-left: 10px solid grey;
font-size: 25px;
margin-left: 10px;
padding-left: 15px
}


.answer {
border-left: 10px solid red;
font-size: 25px;
margin-left: 10px;
padding-left: 15px;
background-color: #fbeed7;
}
